<div class="container">
	<div class="row">	
		<div class="col-md-8  col-md-offset-2 col-xs-12" style="margin-bottom:60px;">

			<div class="col-md-8 col-md-offset-2 col-xs-12">
				<div class="instructions-header">
					<h1>Welcome!</h1>
					<p class="text-center">Here's a complete list of irregular verbs in english. <br> <br>
						<strong>Happy learning!</strong>
					</p>
				</div>
			</div>
<!-- 
		<div class="verbs-list">
			<div class="col-md-4 col-xs-4 list-header">
				Infinitive
			</div>
			<div class="col-md-4 col-xs-4 list-header">
				Simple Past
			</div>
			<div class="col-md-4 col-xs-4 list-header">
				Past Participle
			</div>

			<% @verbs.each do |verb| %> 
			<div class="col-md-4 col-xs-4 list-verbs">
				<%= verb.infinitive %>
			</div>
			<div class="col-md-4 col-xs-4 list-verbs">
				<%= verb.simple_past %>
			</div>
			<div class="col-md-4 col-xs-4 list-verbs">
				<%= verb.past_participle %>
			</div>
			<% end %>

		</div> -->

		<table class="verbs-table" id="verbs-list">
			<thead>
				<tr>
					<th>Infinitive</th>
					<th>Simple Past</th>
					<th>Past Participle</th>
				</tr>
			</thead>
			<tbody>
				<% @verbs.each do |verb| %> 
				<tr>
					<td><%= verb.infinitive %></td>
					<td><%= verb.simple_past %></td>
					<td><%= verb.past_participle %></td>
				</tr>
				<% end %>
			</tbody>
		</table>

	</div>
</div>
</div>


<script>
$(document).ready(function() {
	$('#verbs-list').DataTable({
		"bPaginate": false,
        "bLengthChange": false,
        "bFilter": true,
        "bSort": false,
        "bInfo": false,
        "bAutoWidth": false
	});
} );
</script>