<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= title %></title>
	<meta name="distribution=" content="global">
	<meta name="rating" content="general">
	<meta name="keywords" content="<%= meta_keywords %>" /> 
	<meta name="description" content="<%= meta_description %>" />
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>

<body>

	<div class="wrapper">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<div class="navbar-brand">
						<i class="fa fa-life-ring"></i>
					</div>
					<div class="navbar-text">
						<%= link_to "Irregular Verbs English", root_path %>
					</div>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to "Home", root_path %></li>
					<li><a href="/methods">Tips</a></li>
				</ul>
			</div>
		</nav>


		<%= yield %>
		<div class="push"></div>
	</div>
	<div class="footer hidden-xs">
		<div class="footer-text">
			<p>Made with <i class="fa fa-heart"></i> in Switzerland</p>
		</div>
	</div>


</body>
</html>
